# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Makefile*
*.m4
autodocs*
autom4te.cache
config.*
configure
configure.in
depcomp
install-sh
libtool
ltmain.sh
missing
pluglib-bindings.ami
stamp-h1
